<footer>
    <!-- Bloque Izquierdo (Copyright) -->
    <div class="footer-left">
        <span>&copy; 2026 Minerva AI.</span>
    </div>

    <!-- Bloque Central (Créditos TFG) -->
    <div class="footer-center">
        <span>Desarrollado por Mateo Mayger Giralde y Rubén Sánchez Quintero</span>
    </div>

    <!-- Bloque Derecho (Legal & Links) -->
    <div class="footer-right">
        <a routerLink="/privacidad">Privacidad</a>
        <a routerLink="/terminos">Términos</a>
        <a href="https://github.com">GitHub</a>
    </div>
</footer>